* {
    box-sizing: border-box;
}

h1 {
    text-align: center;
}

.godImage {
    display: block;
    margin: 0 auto;
}

ul {
    text-align: center;
    list-style: none;
}

form {
    text-align: center;
}

fieldset {
    border-radius: 5%;
    margin-left: 50px;
    margin-right: 50px;
    padding: 40px 25px 40px 25px; 
}

#startButton, #restartButton {
    font-size: 15px;
}

.restartContainer {
    text-align: center;
}