* {
    box-sizing: border-box;
    font-family: 'Roboto', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    background-color: #12343b;
    color: white;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
}

.godImage {
    width: 100%;
    height: auto; 
    display: block;
    margin: 10px auto 20px;
    border: 2px solid;
    border-radius: 5%;
}

.questionInfo {
  margin-right: 35px;
  text-align: center;
  list-style: none;
}

form {
    text-align: center;
    width: 100%;
    height: auto;
}

fieldset {
  border: none;
}

#startButton, #restartButton, #submitButton, #nextButton {
    font-size: 15px;
}

#startButton:hover, #restartButton:hover, #submitButton:hover, #nextButton:hover {
    font-size: 25px;
    background-color: teal;
    color: white;
}

.restartContainer {
    text-align: center;
}

.responseContainer {
    text-align: center;
}

@media screen and (min-width: 320px) {

  .godImage{
    max-width: 450px;
    height: auto;
  }
  
  h1{
    font-size: 25px;
  }

  body{
    font-size: 20px;
  }
}

@media screen and (min-width: 550px) {

  .godImage{
    max-width: 600px;
  }
  
  form{
    max-width: 600px;
    display: block;
    margin: 10px auto 20px;
  }

   h1{
    font-size: 35px;
  }

  body{
    font-size: 25px;
  }
}

@media screen and (min-width: 800px) {

  .godImage{
    max-width: 700px;
  }

  form{
    max-width: 700px;
    display: block;
    margin: 10px auto 20px;
  }

  h1{
    font-size: 45px;
  }

  body{
    font-size: 30px;
  }

}









/*
* {
    box-sizing: border-box;
    font-family: 'Roboto', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
  
    color: black;
}

h1 {
    text-align: center;
}

.godImage {
    width: 100%;
    height: auto;
    border: 2px solid;
    border-radius: 5%;
}

.questionRecord {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

li {
    list-style: none;
    text-align: center;
}

form {
    text-align: center;
}

fieldset {
    width: 100%;
    height: auto;
    border-radius: 5%;
}

#startButton, #restartButton {
    font-size: 15px;
}

.restartContainer {
    text-align: center;
}

.responseContainer {
    text-align: center;
}

@media screen and (max-width: 320px) {
    .questionRecord {
        display: block;
    }
}

@media screen and (max-width: 550px) {

}

@media screen and (max-width: 800px) {
}
*/